.salescard {
  background: #21222d;
  border-radius: 0.7rem;
  max-width: 50.4rem;
  height: 20.1rem;
  padding: 0.65rem;
  flex: 1;
  margin-right: 1rem;
}

.salescard h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #ffffff;
  margin-left: 0.5rem;
}

.salescard small {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #a0a0a0;
  margin-left: 0.5rem;
}

.salescard__items-flex {
  display: flex;
  align-items: center;
  margin-top: 0.65rem;
}

.salescard__items-flex:not(:last-child) {
  margin-right: 1rem;
}

.salescard__items-flex:last-child {
  margin-right: 0;
  padding-right: 0;
}
